body {
    background-color: powderblue;
}

div {
    border: 2px solid seagreen;
}

p {
    
    color: red;
    font-family:  'Courier New', Courier, monospace;
    font-size: 100%;
    padding: 30px;
    margin: 50px;
}

table {
    width: 100%;
    border: 1px solid blanchedalmond;
    border-collapse: collapse;
    border-spacing: 5px;
}

th, td {
    padding: 15px;
    border: 1px solid blanchedalmond;
}


a:link {
    color: greenyellow;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

